<link rel="stylesheet" href="/css/footer.css">
<footer>
    <h3> &copy; Coding Ninjas All Right Reserved</h3>
    <div id="footer-links">
        <a href="/">Home</a>
        <a href="/users/Profile/<%= user.id%>">Profile</a>
    </div>
</footer>