body {
  background-color:whitesmoke;
  font-size: 30px;
}

body #layout-main {
 
  height: auto;
  min-height: 480px;
  background-color: bisque;
  border: 2px dashed grey;
  /* background-attachment: url("../images/Gjuimage.jpg"); */

}
